In [1]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import regex as re
sns.set_context("poster")
sns.set(rc={"figure.figsize": (11.7,8.27)})
sns.set_style("whitegrid")
%matplotlib inline

# Cobalt

In [3]:
cob_importers = pd.read_csv('data/Cobalt/Importers-of-Cobalt-2019.csv')
print(cob_importers.shape)

cob_importers.tail()

(148, 6)

    Continent ID      Continent Country ID   Country ISO 3  Trade Value
143           sa  South America      saguy    Guyana   guy      77376.0
144           sa  South America      saper      Peru   per     166909.0
145           sa  South America      sapry  Paraguay   pry      15185.0
146           sa  South America      sasur  Suriname   sur       4351.0
147           sa  South America      saury   Uruguay   ury      81620.0

In [5]:
cob_importers.to_excel('/mnt/c/Users/Palmira/Desktop/Ironhack/final_project/data/Cobalt/cob_importers.xls', index=False)

In [7]:
cob_price = pd.read_csv('data/Cobalt/Cobalt Futures Historical Data.csv')
print(cob_price.shape)

cob_price.tail()

(534, 7)

            Date    Price     Open     High      Low   Vol.  Change %
529  Jan 15 2012  33290.0  33290.0  33290.0  33290.0  0.03K      0.14
530  Jan 08 2012  33242.0  33242.0  33242.0  33242.0  0.07K      4.01
531  Jan 01 2012  31959.0  31959.0  31959.0  31959.0      -      6.64
532  Dec 25 2011  29970.0  29970.0  29970.0  29970.0      -     -4.20
533  Dec 18 2011  31284.0  31284.0  31284.0  31284.0  0.51K     -1.93

In [8]:
cob_price.drop(axis=0, index=None, columns = ['Vol.'],inplace=True)

In [9]:
cob_price.to_excel('/mnt/c/Users/Palmira/Desktop/Ironhack/final_project/data/Cobalt/cob_price.xls', index=False)

Data on usage:

In [37]:
Cob_use_dict = {'Year': {0: 2006,
  1: 2016,
  2: 2020},
 'Other': {0: 34,
  1: 13,
  2: 10},
 'Superalloys': {0: 24,
  1: 20,
  2: 16},
 'Lithium-ion batteries': {0: 20,
  1: 51,
  2: 62},
 'Ceramics/pigment': {0: 10,
  1: 8,
  2: 6},
 'Hard materials ': {0: 12,
  1: 6,
  2: 6}}

In [38]:
cob_use = pd.DataFrame(Cob_use_dict)

In [39]:
cob_use.to_excel('/mnt/c/Users/Palmira/Desktop/Ironhack/final_project/data/Cobalt/cob_use.xls', index=False)

In [23]:
cob_use_T = pd.DataFrame(Cob_use_dict)

In [24]:
cob_use_T = cob_use_T.T

In [30]:
cob_use_T.rename(columns={0: 2006,1: 2016, 2: 2020}, inplace=True)

In [34]:
cob_use_T.drop(cob_use_T[cob_use_T[2006] == 2006.00].index, inplace=True)

In [36]:
cob_use_T.to_excel('/mnt/c/Users/Palmira/Desktop/Ironhack/final_project/data/Cobalt/cob_use_T.xls', index=False)

## DR Congo