In [1]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import regex as re
sns.set_context("poster")
sns.set(rc={"figure.figsize": (11.7,8.27)})
sns.set_style("whitegrid")
%matplotlib inline

# Cobalt

In [3]:
cob_importers = pd.read_csv('data/Cobalt/Importers-of-Cobalt-2019.csv')
print(cob_importers.shape)

cob_importers.tail()

(148, 6)

    Continent ID      Continent Country ID   Country ISO 3  Trade Value
143           sa  South America      saguy    Guyana   guy      77376.0
144           sa  South America      saper      Peru   per     166909.0
145           sa  South America      sapry  Paraguay   pry      15185.0
146           sa  South America      sasur  Suriname   sur       4351.0
147           sa  South America      saury   Uruguay   ury      81620.0

In [5]:
cob_importers.to_excel('/mnt/c/Users/Palmira/Desktop/Ironhack/final_project/data/Cobalt/cob_importers.xls', index=False)

In [7]:
cob_price = pd.read_csv('data/Cobalt/Cobalt Futures Historical Data.csv')
print(cob_price.shape)

cob_price.tail()

(534, 7)

            Date    Price     Open     High      Low   Vol.  Change %
529  Jan 15 2012  33290.0  33290.0  33290.0  33290.0  0.03K      0.14
530  Jan 08 2012  33242.0  33242.0  33242.0  33242.0  0.07K      4.01
531  Jan 01 2012  31959.0  31959.0  31959.0  31959.0      -      6.64
532  Dec 25 2011  29970.0  29970.0  29970.0  29970.0      -     -4.20
533  Dec 18 2011  31284.0  31284.0  31284.0  31284.0  0.51K     -1.93

In [8]:
cob_price.drop(axis=0, index=None, columns = ['Vol.'],inplace=True)

In [9]:
cob_price.to_excel('/mnt/c/Users/Palmira/Desktop/Ironhack/final_project/data/Cobalt/cob_price.xls', index=False)

Data on usage:

In [37]:
Cob_use_dict = {'Year': {0: 2006,
  1: 2016,
  2: 2020},
 'Other': {0: 34,
  1: 13,
  2: 10},
 'Superalloys': {0: 24,
  1: 20,
  2: 16},
 'Lithium-ion batteries': {0: 20,
  1: 51,
  2: 62},
 'Ceramics/pigment': {0: 10,
  1: 8,
  2: 6},
 'Hard materials ': {0: 12,
  1: 6,
  2: 6}}

In [38]:
cob_use = pd.DataFrame(Cob_use_dict)

In [39]:
cob_use.to_excel('/mnt/c/Users/Palmira/Desktop/Ironhack/final_project/data/Cobalt/cob_use.xls', index=False)

In [23]:
cob_use_T = pd.DataFrame(Cob_use_dict)

In [24]:
cob_use_T = cob_use_T.T

In [30]:
cob_use_T.rename(columns={0: 2006,1: 2016, 2: 2020}, inplace=True)

In [34]:
cob_use_T.drop(cob_use_T[cob_use_T[2006] == 2006.00].index, inplace=True)

In [36]:
cob_use_T.to_excel('/mnt/c/Users/Palmira/Desktop/Ironhack/final_project/data/Cobalt/cob_use_T.xls', index=False)

## DR Congo

In [79]:
import requests as req
from bs4 import BeautifulSoup as bs

In [80]:
url_congo = 'https://en.wikipedia.org/wiki/2021%E2%80%932022_Democratic_Republic_of_the_Congo_attacks'

In [81]:
html = req.get(url_congo).content
soup = bs(html, 'html.parser')

In [82]:
tabla=soup.find('table',{'class': "wikitable sortable"})

In [83]:
filas=tabla.find_all('tr')

In [84]:
filas=[f.text.strip().split('\n') for f in filas]

filas[:3]

[['Date', '', 'Location', '', 'Dead', '', 'Injured', '', 'Details'],
 ['3 January',
  '',
  'Mwenda, Beni territory, North Kivu',
  '',
  '22',
  '',
  'unknown',
  '',
  '22 people were killed when the ADF attack the village of Mwenda with machetes and guns.[21]'],
 ['5 January',
  '',
  'Baboa Bokoe chiefdom, Ituri',
  '',
  '4',
  '',
  'unknown',
  '',
  'Three civilians and one soldier was kill in a FPIC attack on three villages setting fire to multiple homes.[22]']]

In [85]:
final=[]


for e in filas:
    tmp=[]

    for st in e:
        if st!='':
            tmp.append(st)
    final.append(tmp)
    
final[:3]

[['Date', 'Location', 'Dead', 'Injured', 'Details'],
 ['3 January',
  'Mwenda, Beni territory, North Kivu',
  '22',
  'unknown',
  '22 people were killed when the ADF attack the village of Mwenda with machetes and guns.[21]'],
 ['5 January',
  'Baboa Bokoe chiefdom, Ituri',
  '4',
  'unknown',
  'Three civilians and one soldier was kill in a FPIC attack on three villages setting fire to multiple homes.[22]']]

In [89]:
import pandas as pd
import numpy as np

col_names=final[0]

data=final[1:]

df=pd.DataFrame(data, columns=col_names)

df.tail(10)

,Date,Location,Dead,Injured,Details
91,14 July,"Batumbi, Ituri",1,1,An anti-personal mine laid by the Ituri Patri...
92,15 July,"Tinda Bridge, Ituri",4,2,Four people were killed and two injured near T...
93,15 July,"Beni, North Kivu",2,0,The ADF killed two civil society members in Be...
94,15 July,"Rujumba village, Ituri",3,0,A FPIC attack on the village of Rujumba killed...
95,16 July,"Liva village, North Kivu",4,0,An ADF attack on farmer in the village of Liva...
96,2 August,"Idohu, Ituri province",16,An ADF attack on civilians. Congolese soldiers...,None
97,27 August,"Kalanguta, Beni territory",19,An attack possibly committed by the ADF. Sever...,None
98,3 September,"Makutano, Ituri province",30,ADF machete attack on a village north of Oicha...,None
99,21 November,"Drodro refugee camp, Ituri province",44,An ADF massacre against a refugee camp in Itur...,None
100,25 December,"In Box restaurant, Beni",7,13,ADF suicide bomb[119]

In [90]:
df.replace(to_replace=[None], value='unknown', inplace=True)

In [91]:
df.isna().sum()

Date        0
Location    0
Dead        0
Injured     0
Details     0
dtype: int64

In [95]:
df.Dead.unique()

array(['22', '4', '6 (+2)', '2 (+2)', '3 (+2)', '15', '46', '16 (+4)',
       '1', '0', '10', '2', '12', '5 (+6)', '14', '10(+6)', '3', '1(+1)',
       '11', '7', '16', '3 (+16)', '14 (+2)', '8', '17', '5', '16 (+1)',
       '2 (+1)', '4 (+3)', '29 (+2)', 'unknown', '2 (+5)', '9', '13', '6',
       '2(+1)', '21', '3(+1)', '26', '60+', '8 (+22)', '18', '19', '30',
       '44'], dtype=object)